* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

header,
footer {
    background-color: #eb721a;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header,
nav,
main,
footer {
    max-width: 100%;
    margin:0 auto;
}

h1 {
    font-size: 2rem;
    color: #fff;
}

p {
    padding: .5rem;
}

nav {
    background-color: #ec5b04;
    text-align: center;
    display: flex;
    flex-direction: column;


}

nav ul {
    display: block;
    padding: 1.5rem;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;


}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;

}

nav a:hover {
    background-color: #fff;
    color: #ec5b04;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
main img {
    justify-self: center;
   justify-content: space-between;
   padding-bottom: 25px;
}
main p{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    text-align: center;
    margin-top: 45px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 15px;
    font-size: 28px;
}
h3 {
    text-align: center;
    font-size: 25px;
}
ol li {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.2rem;
    list-style: none;
}
ol li {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.answer {
    font-size: 0.9rem;
    margin-left: 5px;
    margin-right: 5px;
}


footer p {
    color: #fff;
}

table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 50%;
  justify-self: center;
  margin-bottom: 25px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.pricolor {
  background-color: #eb721a;
}
.secolor {
    background-color: #ec5b04;
}
.accent1 {
    background-color: #fff;
}
.accent2 {
    background-color: #000;
    color: #fff;
}
/*#ec5b04*/
/*#eb721a*/

/*************************************/
/*SMALL SCREEN*/
/*@media only screen and (max-width: 650px) {
    nav ul {
        display: block;
    }
}*/



/***************************************/
/*MEDIa QUERIES FOR LARGER VIEWS*/
@media only screen and (min-width: 650px) {
    nav ul {
        display: flex;
        transform: scale(1);
        transition: transform 0.3s;
    }

    nav a:hover {
        transform: scale(1.5);
    }

   main .img1, main .img2 {
    display: flex;
    padding-bottom: 25px;
   }
   ol li {
    font-size: 1.2rem;
   }
}

/****************************************/
/*LARGE SCREEN*/