/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

header {
    background-color: #eb721a;
    display: flex;
    width: 100%;
    justify-content: space-between;

}


header h3 {
    display: block;
    font-size: 1.3rem;
}

header .name {
    display: block;
    margin: 0;
    color: #ffffff;
    

}


header .name p {
    font-size: .7rem;
    margin-top: -15px;
}

header .social {
    display: flex;
    padding: 2px;

}

header img {
    margin-top: 10px;
    margin-left: 8px;
    height: 80px;
}

header .social img {
    margin: 7px;
    height: 25px;
    width: 25px;
}

nav button {
    margin: .1rem 2vw;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 2rem;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: .8rem 2vw;
    color: #ffffff;
    font-size: .8rem;
}

nav ul li a:hover {
    background-color: #5e6472;
    color: #ffffff;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn {
    margin-top: 5px;



}

#hamburgerBtn span:nth-child(1) {
    display: block;

}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

/*When the button is open, the hamburger does not display
It is the reverse of the 2 declarations above*/
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

/*When the button is open, the close displays as block*/
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/*     #ec5b04; darker color  */
/*     #eb721a;   lighter*/
/*JS Display Message*/
#group-msg {
    font-size: 0.7rem;
    color: #fff;
    background-color: #5e6472;
    text-align: center;
    margin: 10px 20px 0px 20px;
    font-family: 'Poppins';



}

main {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin: 1px 1px 20px 1px;
}

/*section - welcome*/
.welcome {

    position: relative;
    padding: 0;
    margin: 10px auto;
}

h1 {
    position: absolute;
    left: 20px;
    font-family: 'Miltonian Tattoo', 'Poppins';
    font-size: 1.5rem;
    color: #0000ee;

}

.join-link {
    text-decoration: none;
    color: #fff;
    font-family: "Poppins";
}

.button-button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: #5e6472;
    color: #ffffff;
    border: none;
    padding: 5px;
    transform: scale(1);
    transition: transform 0.3s;
}

.button-button:hover {
    transform: scale(1.03);
    background-color: #5e6472;
    color: #ffffff;
}

.small {
    position: absolute;
    bottom: 15px;
    color: #ffffff;
    left: 15px;
    display: block;
}

.medium,
.large {
    display: none;
}


/*SECTION - RIBBON CUTTING*/
.ribbon-cutting {
    background-color: #eb721a;
    margin: 10px;
    text-align: center;
    color: #ffffff;
}

.ribbon-cutting a {
    text-decoration: none;
    color: #ffffff;

}

.diamond-shack {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
}



/*section - weather*/
.weather {
    background-color: #eb721a;
    margin: 10px 50px 10px 50px;
    text-align: center;
    color: #ffffff;
}

.weather-info {
    display: flex;
    justify-content: center;

}

.weather-info h3 {
    margin-left: 50px;
}

.wind-speed,
.wind-chill {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}



/*section - news-release*/
.news-release {
    background-color: #eb721a;
    margin: 10px;
    color: #ffffff;
    text-align: center;
}

.news-release p {
    margin: 15px;
}



/*hr declaration for all*/
.weather hr,
.spotlight1 hr,
.spotlight2 hr {
    width: 80%;
}

/*h3 declaration for all*/
.news-release h3,
.spotlight1 h3,
.spotlight2 h3,
.weather h3,
.ribbon-cutting h3 {
    font-size: 1.2rem;
    font-family: 'Poppins';
}



/*section - spotlight*/
.main-spotlight {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 70px 10px;
    border: 1px solid #eb721a;
    color: #ffffff;
}

.spotlight1 {
    background-color: #eb721a;
    margin: 15px;
    text-align: center;
}

.spotlight1 a,
.spotlight2 a {
    text-decoration: none;
    color: #ffffff;
}

/*hover for emails and the "more info" in the ribbon cutting section*/
.spotlight1 a:hover,
.spotlight2 a:hover,
.ribbon-cutting a:hover {
    color: #0000EE;
}

/*section - Join us*/
.main-join {
    display: none;
}

.spotlight2 {
    background-color: #eb721a;
    margin: 15px;
    text-align: center;
}

.spotlight3 {
    background-color: #eb721a;
    margin: 15px;
    display: none;
}




header div .currentDate {
    color: #fff;
    font-size: .6rem;
    margin-top: 90px;
}

.footer_img img {
    height: 70%;
    margin-bottom: -60px;
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr;

}


footer {
    background-color: #eb721a;
    display: block;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    width: 100%;


}

.footer_name {
    font-size: 1.1rem;
    font-weight: 600;
}

footer img {
    height: 50%;
    width: 50%;
}

footer p {
    font-size: .8rem;
}

.copyright p {
    font-size: .6rem;
}

footer hr {
    width: 90%;
}

#currently {
    padding-bottom: 30px;
}


/*DISCOVER PAGE CSS DECLARATION*/
.main-discover {
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Miltonian Tattoo', 'Poppins';
    font-size: 1.2rem;
    color: #0000ee;
    text-align: center;
}

.discover-paragraph {
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.2rem;
}



picture {
    width: 100%;
    height: auto;


}

picture img {
    width: 100%;
}


h5 {
    text-align: center;
    font-family: "Montserrat";
    color: #0000EE;

}

#visit-info {
    color: red;
    text-align: center;
}

table,
th,
td {
    border: 1px solid #0000EE;
}

table {
    width: 80%;
}




/* style form container */
form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 200px auto;
    max-width: 600px;
    padding: 10px;


}

/* style form labels */
label {
    display: block;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 5px;
}

/* style form inputs */
input[type="text"],
input[type="email"],
input[type="tel"],

textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px;
    width: 100%;
}

/* style required input labels */
label span {
    color: #ff0000;
}



/* style form submission button */
input[type="submit"] {
    background-color: #5e6472;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/* style form submission button on hover */
input[type="submit"]:hover {
    background-color: #eb721a;
}

#membershipLevel {
    font-size: .8rem;
}

.main-thankyou {
    text-align: center;
    font-family: "Poppins";
    margin: 70px 0px 500px 0px;
    font-size: 0.9rem;
}

.fill-form {
    text-align: center;
    font-family: "Poppins";
    margin-top: 50px;
    font-size: 0.9rem;
}


.memberBenefits {
    margin: 15px;
}

.benefits ul li {

    list-style: none;
    color: #000;
    font-family: "Poppins";
    line-height: 1.3rem;
    margin-bottom: 0px;


}

.benefits {
    margin: 25px;
    text-align: center;
    border: none;

}

.benefits-free {
    border: 3px solid #eb721a;
    margin: 7px 7px 25px 7px;
    background-color: #add8e6;
}



.benefits-bronze {
    border: 3px solid #eb721a;
    margin: 7px 7px 25px 7px;
    background-color: #cd7f32;
}

.benefits-silver {
    border: 3px solid #eb721a;
    margin: 7px 7px 25px 7px;
    background-color: #c0c0c0;
}

.benefits-gold {
    border: 3px solid #eb721a;
    margin: 7px 7px 25px 7px;
    background-color: #ffd700;
}


.benefits-btn {

    background-color: #5e6472;
    color: #fff;

    font-family: "Georgia";
    border: none;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 10px 20px 15px 20px;
}




.offer-text {
    font-family: "Poppins";
    text-align: center;
    margin: 50px 10px 30px 10px;
}

.text-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.sub-type {
    font-weight: bolder;
    font-size: 1.6rem;
    font-family: "Arial";
}

/*from here */

#display-options {
    text-align: center;
   
   
}
  /*to here*/



.company-list li {
    border: 1px solid #eb721a;
    margin: 20px;
    text-align: center;
    list-style-type: none;
    box-shadow: 0 2px 0 #006600, 
    0 3px 0 #005900, 
    0 4px 0 #004c00, 
    0 6px 0 #003300, 
    0 8px 0 #002600, 
    0 10px 0 #001900, 
    0 12px 0 #000d00;
   
}



.company-list li a{
    text-decoration: none;
    font-size: 0.7rem;
    color: #0000ee;
}



.company-list li img {
    margin: 10px;
    width: 30%;
   
}
.company-address, .phone-number, .membership-level {
    font-size: 0.8rem;
    margin: 10px;
    font-family: "Poppins";
}



.main-contact-div{
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.main-contact-div a {
    text-decoration: none;
    color: #0000EE;
    font-family: 'Poppins';
    font-size: .9rem;
}
.main-contact-div a:hover {
    color: #5e6472;
}
.contact-form {
    bottom: 10%;
    width: 100%;
    padding: 30px 10px 20px 10px;
    background-color: #f2f2f2;
  
}


input[type = "text"] hover {
color: #cd7f32;
}
.contact-form-div {
    width: 100%;
    margin-top: 30px;
}
label {
    margin: 20px 12px 5px 0;
    display: block;
    font-size: 0.7rem;
    width: 100%;

  }
 

.contact-headings {
    
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 1.2rem;
}

.main-contact-div p {
    font-family: 'Poppins';
    font-size: .9rem;
}


.footer_info a {
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
}

.footer_info a:hover {
    color: #0000EE;
}