/*35rem is also 560px when basefont is 16px*/
@media only screen and (min-width: 35rem) {

    footer .copyright {
        display: flex;
        justify-content: center;

    }

    footer .copyright p {
        font-size: .6rem;
        margin: 7px;
    }

    header nav ul li {
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li a {
        border: none;
        font-size: 1rem;
    }

    header .social img {
        height: 35px;
        width: 35px;
        margin: 7px;

    }

    header img {
        height: 120px;

    }

    #hamburgerBtn {
        margin-right: 70px;
    }

    header div .currentDate {
        color: #fff;
        font-size: .9rem;
        margin-top: 90px;
    }


    .main-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer_info {
        margin-top: 70px;
    }

    footer {
        background-color: #eb721a;
    }

    #group-msg {
        font-size: 1rem;
        color: #fff;
        background-color: #5e6472;
        text-align: center;
        font-family: 'Poppins';
        margin: 10px 50px 0px 50px;


    }


    /*Main declarations*/
    main {
        display: grid;
        row-gap: 2px;
        /*grid-template-columns: 1fr 1fr;*/
        margin: 25px 25px 60px 25px;

    }

    /*Grid setting declaration*/
    .welcome {
        display: flex;
        grid-row: 1;
        grid-column: 1/3;
    }

    .news-release {
        grid-row: 2;
        padding: 50px;
        grid-column: 1/3;
    }

    .main-spotlight {
        grid-row: 3;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 10px 10px 10px;

    }

    .ribbon-cutting {
        grid-row: 5;
        margin-bottom: 50px;
    }

    .main-join {
        display: block;
        background-color: #eb721a;
        margin: 10px;
        padding: 50px;
        text-align: center;
        grid-row: 4;
        grid-column: 1/3;

    }

    .main-join p {
        font-size: 1.2rem;
        color: #fff;
    }

    .join-us {
        background-color: #5e6472;
        width: 80%;
        padding: 10px;
        font-size: 1.4rem;
        font-family: 'Poppins';
        color: #fff;
        border: 1px solid #eb721a;
    }

    .weather {
        grid-row: 5;
        margin: 10px 10px 50px 10px;
    }

    /*Figure starts here - will be replaced with picture later on*/


    h1 {
        position: absolute;
        top: 30px;
        left: 50px;
        font-size: 2.5rem;
        color: #0000ee;
    }



    picture img {
        width: 90%;
        margin: 0px 32px 0px 40px;

    }

    .medium {
        display: block;
        position: absolute;
        bottom: 15px;
        color: #ffffff;
        left: 15px;
    }

    .small,
    .large {
        display: none;
    }

    /*ends here*/

    .button-button {
        position: absolute;
        bottom: 60px;
        right: 60px;
        padding: 20px;
        font-size: 1.3rem;
        background-color: #5e6472;
    }

    .discover-paragraph {
        text-align: center;
        font-family: "Poppins";
        font-size: 1rem;
        margin: 0px 40px 70px 40px;
    }

    .discover-div p {
        font-family: "Poppins";
        font-size: .9rem;
        text-align: center;
        margin: 0px 60px 30px 60px;
    }

    h2 {
        font-family: 'Miltonian Tattoo', 'Poppins';
        font-size: 1.5rem;
        color: #0000ee;
        text-align: center;
        margin: 30px 30px 0px 0px;
    }

    .discover-div img:hover {
        animation: shake 0.3s;


    }

    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }

    h5 {
        text-align: center;
        font-family: "Montserrat";
        color: #0000EE;
        font-size: 1.5rem;

    }

    form {

        position: relative;
        left: 42%;
        padding: 40px;
        bottom: -90%;
        transform: translate(-50%, -50%);
        max-width: 675px;
        margin: 500px 30px -300px 50px;

    }

    .main-thankyou {
        text-align: center;
        font-family: "Poppins";
        font-size: 1.3rem;
        display: block;
        margin: 100px 0px 600px 0px;
    }

    .fill-form {
        text-align: center;
        font-family: "Poppins";
        font-size: 1.2rem;
    }

    .join-link {
        text-decoration: none;
        color: #fff;
        font-family: "Poppins";
    }

    #join-main {
        display: flex;
        flex-direction: column;

    }
    .offer-text {
        font-size: 1.5rem;
    
    }
    .text-title {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .sub-type {
        font-weight: bolder;
        font-size: 2rem;
        font-family: "Arial";
    }
    label {
        font-size: 1.4rem;
    }
    input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    padding: 20px;
    width: 100%;
}

input[type="submit"] {
    font-size: 1.6rem;
    margin-top: 15px;
}
    .benefits-btn {
        padding: 10px 50px 10px 50px;
    }
    .benefits-btn {
        font-size: 1.3rem;
    }


    /*Directory declarations*/
    .company-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px;
        margin: 0px;
    }
#directory {
    margin: 40px 40px 20px 40px;
}
    .company-list li:hover {
        transform: scale(1.1);
      }
      .company-list li{
        
        transition: transform 0.2s ease-in-out;
        box-shadow: 0 2px 0 #006600, 
        0 3px 0 #005900, 
        0 4px 0 #004c00, 
        0 6px 0 #003300, 
        0 8px 0 #002600, 
        0 10px 0 #001900, 
        0 12px 0 #000d00;
      }
      .contact-headings {
    
        font-weight: bold;
        font-family: 'Poppins';
        font-size: 1.6rem;
    }
    
    .main-contact-div p {
        font-family: 'Poppins';
        font-size: 1.4rem;
    }

    .main-contact-div a {
        text-decoration: none;
        color: #0000EE;
        font-family: 'Poppins';
        font-size: 1.3rem;
    }
    .main-contact-div a:hover {
        color: #5e6472;
    }

    .contact-form {
        bottom: 1%;
        width: 100%;
        padding: 30px 20px 70px 20px;
        background-color: #f2f2f2;
     
      
    }

    
    
}